<style>
    form span {
        width: 100px;
    }
    </style>
    
    <div class="row my-5 justify-content-center">
        <div class="col-md-6">
            <h1 class="text-center">회원가입</h1>
    
            <form class="card p-3" name="frm">
                <div class="input-group mb-3">
                    <span class="input-group-text">이메일</span>
                    <input name="email" class="form-control" value="blue@test.com">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">비밀번호</span>
                    <input name="password" class="form-control" type="password" value="12341234">
                </div>
                <button class="btn btn-primary">회원가입</button>
            </form>
            <div class="text-end pt-2">
                <a href="/users/login">로그인</a>
            </div>
        </div>
    </div>
    
    <script type="module"> // import 키워드 사용하기 위해 module 추가
    import { app } from "/javascripts/firebase.js"
    import { getAuth, createUserWithEmailAndPassword } from "https://www.gstatic.com/firebasejs/10.4.0/firebase-auth.js";
    const auth = getAuth();
    
    $(frm).on("submit", function(e) {
            event.preventDefault(); // submit 이벤트를 막아줌
    
            const email = $(frm.email).val();
            const password = $(frm.password).val();

            if (!email.includes("@")) {
                alert("이메일 형식이 올바르지 않습니다.");
                // $(frm.email).val(""); // 배포 시 ON
                $(frm.email).focus()
            } else if (password.length < 8) {
                alert("비밀번호는 8자리 이상이어야 합니다.");
                $(frm.password).focus();
            } else {
                // 회원 등록
                createUserWithEmailAndPassword(auth, email, password)
                .then((success) => {
                    // Signed in 
                    const user = success;
                    console.log('user', user);
                    alert("회원가입이 완료되었습니다.");
                    window.location = "/users/login";
                })
                .catch((error) => {
                    // const errorCode = error.code;
                    // const errorMessage = error.message;
                    alert("이미 가입된 회원입니다.");
                });
            }
        })
    </script>