<style>
    #photo {
        border-radius: 50%;
        border: 1px solid gray;
        cursor: pointer;
        width: 200px;
    }

    #file {
        display: none;
    }
</style>

<div class="my-5">
    <h1 class="text-center mb-5"><%=title %></h1>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="text-center my-3">
                <div>
                    <img id="photo" src="http://via.placeholder.com/200x200" />
                    <input id="file" type="file" />
                </div>
                <div>
                    <button id="btn-photo" type="button" class="btn btn-primary px-5 mt-2">이미지 변경</button>
                </div>
            </div>
            <form class="card p-3" name="frm">
                <div class="input-group mb-2">
                    <span class="input-group-text">이름</span>
                    <input class="form-control" name="name" />
                </div>

                <div class="input-group mb-2">
                    <span class="input-group-text">전화</span>
                    <input class="form-control" name="phone" />
                </div>

                <div class="input-group mb-2">
                    <span class="input-group-text">주소</span>
                    <input class="form-control" name="address" readonly />
                    <button type="button" id="btn-search" class="btn btn-primary">검색</button>
                </div>
                <div class="text-center mt-3">
                    <button type="submit" class="btn btn-primary px-5">저장</button>
                    <button type="reset" class="btn btn-secondary px-5">취소</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="module">
    import { app } from "/javascripts/firebase.js";
    import { getFirestore, setDoc, doc, getDoc } from "https://www.gstatic.com/firebasejs/10.4.0/firebase-firestore.js";
    import { getStorage,uploadBytes,ref,getDownloadURL } from "https://www.gstatic.com/firebasejs/10.4.0/firebase-storage.js";

    const db = getFirestore(app);
    const uid = sessionStorage.getItem("uid");
    const email = sessionStorage.getItem("email");
    const storage = getStorage(app);

    let user;
    $(window).on("load", async function(e) {
        const result = await getDoc(doc(db, `users/${uid}`));

        if(result.data()){
            user = result.data();
            $(frm.name).val(user.name);
            $(frm.phone).val(user.phone);
            $(frm.address).val(user.address);
            $("#photo").attr("src", user.photo ? user.photo : "http://via.placeholder.com/100x100");
        } else {
            await setDoc(doc(db, `users/${uid}`),{
                uid:uid, 
                email:email, 
                name:'', 
                phone:'',
                address:'',
                photo:'http://via.placeholder.com/100x100'
            });
        }
    });

    $("#btn-search").on("click", function(e) {
        new daum.Postcode({
            oncomplete: function(data){
                const address = data.address;
                const building = data.buildingName ? `(${data.buildingName})` : '';
                $(frm.address).val(address + building);
            }
        }).open();
    });

    $("#btn-photo").on("click", async function(e) {
        if ($("#file").val() == "") {
            alert("변경할 이미지를 선택하세요.");
        } else {
            if (confirm("변경된 이미지를 저장하시겠습니까?")) {
                const snapshot = await uploadBytes(ref(storage, `/photo/${Date.now()}.jpg`), $("#file")[0].files[0]);
                const url = await getDownloadURL(snapshot.ref);
                await setDoc(doc(db, `users/${uid}`), {...user, photo:url});
                alert("이미지가 변경되었습니다!");
            }
        }
    });


    $("#file").on("change", function(e) {
        $("#photo").attr("src", URL.createObjectURL(e.target.files[0]));
    });

    $("#photo").on("click", function(){
        $("#file").click();
    });

    $(frm).on("submit", async function(e) {
        e.preventDefault();

        const name = $(frm.name).val();
        const phone = $(frm.phone).val();
        const address = $(frm.address).val();

        if (name == "") {
            alert("이름을 입력하세요.");
            $(frm.name).focus();

            return;
        }

        if (phone == "") {
            alert("전화번호를 입력하세요.");
            $(frm.phone).focus();

            return;
        }

        if (address == "") {
            alert("주소를 입력하세요.");

            return;
        } 

        if (confirm("사용자정보를 저장하실래요?")) {
            await setDoc(doc(db, `users/${uid}`), {
                email: email,
                name, // 변수명 같을 시 생략 가능
                phone,
                address
            })
            alert("사용자정보를 저장하였습니다.");
            location.href="/";
        }
    })
</script>